* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 33%, 17%);
  background-image: linear-gradient(
      45deg,
      hsla(217, 33%, 17%, 0.5) 50%,
      hsla(217, 33%, 13%, 1) 50%
    ),
    radial-gradient(hsl(217, 33%, 13%) 25%, hsl(217, 33%, 17%) 30%);
  background-size: 100%, 20px 20px;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: hsl(217, 33%, 13%);
  width: 310px;
  margin: 0 auto;
  border: 3px solid hsla(217, 33%, 17%, 0.5);
  outline: 5px solid hsla(217, 33%, 13%, 1);
  padding: 20px;
  border-radius: 10px;
}

.calculator-base {
  display: flex;
}

.operand,
.core-functions {
  width: 210px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.basic-arithimetics {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}

.calculator button {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: hsl(217, 33%, 17%);
  cursor: pointer;
  transition: 0.2s transform;
}

.calculator button:hover {
  transform: scale(1.1);
}
.calculator button:active {
  transform: scale(0.95);
}

.basic-arithimetics button,
.core-functions button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fffb;
  font-size: 1.3rem;
}

.operand .zero {
  width: 130px;
}
.clear:hover {
  background: hsl(0, 50%, 50%);
  color: white;
}
.del:hover {
  background: hsl(30, 50%, 50%);
  color: white;
}
.percentage:hover {
  background: hsl(60, 50%, 50%);
  color: white;
}
.divide:hover {
  background: hsl(90, 50%, 50%);
  color: white;
}
.times:hover {
  background: hsl(120, 50%, 50%);
  color: white;
}
.minus:hover {
  background: hsl(150, 50%, 50%);
  color: white;
}
.plus:hover {
  background: hsl(180, 50%, 50%);
  color: white;
}
.equals:hover {
  background: hsl(210, 50%, 50%);
  color: white;
}

.display {
  display: flex;
  flex-direction: column;
  background: hsl(217, 33%, 80%);
  box-shadow: inset 2px 2px 5px hsl(217, 33%, 17%);
  color: hsl(217, 33%, 17%);
  height: 60px;
  text-align: right;
  font-size: 14px;
  padding: 8px;
  margin: 10px auto;
  border-radius: 10px;
}
.expression {
  font-size: 1.5rem;
  margin-top: auto;
}
.history {
  cursor: pointer;
}
